In [1]:
import pandas as pd

# Pandas
## Series
1차원
Index - Value

In [2]:
data = [1, 3, 5, 7, 9]
pd.Series(data)

0    1
1    3
2    5
3    7
4    9
dtype: int64

## DataFrame
2차원
Key - Values(columns)

In [3]:
data1 = {
    'year': [2016, 2017, 2018],
    'GDP rate': [2.8, 3.1, 3.0],
    'GDP': ['1.637M', '1.73M', '1.83M']
}
df = pd.DataFrame(data1)

In [4]:
df.year

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [5]:
df[df.year > 2016]

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.83M

In [6]:
df.info()
# numeric, non-numeric

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      3 non-null      int64
 1   GDP rate  3 non-null      float64
 2   GDP       3 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes

In [7]:
df.describe()  # 기초 통계량 (numeric에 한해서)

         year  GDP rate
count     3.0  3.000000
mean   2017.0  2.966667
std       1.0  0.152753
min    2016.0  2.800000
25%    2016.5  2.900000
50%    2017.0  3.000000
75%    2017.5  3.050000
max    2018.0  3.100000

In [8]:
df['GDP'] = df['GDP'].apply(lambda x: x[:-1]).astype(float)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      3 non-null      int64
 1   GDP rate  3 non-null      float64
 2   GDP       3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

In [10]:
df.describe()

         year  GDP rate       GDP
count     3.0  3.000000  3.000000
mean   2017.0  2.966667  1.732333
std       1.0  0.152753  0.096521
min    2016.0  2.800000  1.637000
25%    2016.5  2.900000  1.683500
50%    2017.0  3.000000  1.730000
75%    2017.5  3.050000  1.780000
max    2018.0  3.100000  1.830000

## Panel
3차원